
.containerDetail {
    width: auto;
    height: auto;
    min-height: 100vh;
    background-image: url(./fondo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.h1 {
    font-size: 4rem;
}

.containerInfo {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
}

.containerLeft {
    width: 45%;
    height: 100%;
}

.containerLeft img {
    margin-top: 13%;    
    width: 600px;
    border-radius: 25px;
    box-shadow: 7px 13px 37px #531d57;  
}

.containerRight {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.name {
    display: flex;
    margin-top: 90px;
}

.h2 {
    display: flex;
}

.divMapped {
    display: flex;
}

.mapped {
    margin-top: 8px;
    margin-left: 10px;
}

.description {
    margin-top: 13px;
    font-size: 1.3rem;
    text-align: start;
}

