
.containerCard {
    display: inline-block;
    position: relative;
    background-color: #000;
    color: white;
    text-align: center;
    font-size: small;
    margin: 0.5rem;
    width: 23%;
    /* height: fit-content; */
    height: 20rem;
    border: solid 1px #812c86;
    border-radius: 10px;
    box-shadow: 7px 13px 37px #000;   
}

.containerImage {
    width: 100%;
    height: 50%;
}

.imgCard {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.containerName {
    width: 100%;
    height: 20%;
    padding-top: 0.8rem;
}

.name {
    font-size: 1.5rem;
    color: white;
    padding-left: 2px;
}

.containerGenres {
    display: flex;
    width: 100%;
    height: 15%;
    padding: 0.6rem 0;
    justify-content: center;
}

.genres {
    font-size: 1.1rem;
    color: rgb(192, 188, 188);
    margin: 0 4px;
}

.containerButton {
    width: 100%;
    height: 15%;
}

.button {
    width: 100%;
    height: 100%;
    background: #472247;
    border-radius: 10px;
    font-size: 1rem;
}

.button:hover{
    cursor: pointer;
    background: #3b1c3b;
}